.footerBody {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    height: 5vh;
  }
  
  .footerBody a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  .footerBody a:hover {
    text-decoration: underline;
  }
  